@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
link,
.link {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  max-height: inherit;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
button {
  border-width: 0;
}
section {
  padding: 60px 20px;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
