// movie gallery container for cards

.section-movie {
  margin-top: 230px;

  position: relative;

  @media screen and(min-width: 1024px) {
    margin-top: 216px;
  }
}

ul.movie__gallery {
  @media screen and(min-width: 768px) {
    display: flex;
    margin: -24px -32px;
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1024px) {
    margin: -24px -16px;
  }
}

//one card in JS

li.gallery__item {
  width: 280px;
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px rgba(231, 231, 231, 0.627);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 768px) {
    display: flex;
    margin: 32px;
    width: calc((100% - 2 * 64px) / 2);
  }

  @media screen and(min-width: 1024px) {
    margin: 16px;

    width: calc((100% - 3 * 32px) / 3);
  }
  &:hover {
    transform: scale(1.035);
    box-shadow: 2px 2px 3px 3px rgba(180, 180, 180, 0.5);
  }
}

.film-card {
  display: flex;
  flex-direction: column;
}

img.film-poster__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 12px;
  }
}

.info__title,
.info__genres {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  @media screen and (min-width: 768px) {
    text-transform: uppercase;
    color: #000;
  }
  @media screen and (min-width: 1024px) {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 24px;
  }
}

.info__genres {
  text-transform: none;
  color: #ff6b08;
  line-height: 14px;
  margin-bottom: 8px;
}

.info__title {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    line-height: 16px;
  }
  @media screen and (min-width: 1024px) {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    width: 100%;
    line-height: 24px;
  }
}
.my-lib__title {
  display: block;
  width: 100%;
  margin: 0 auto 32px;
  font-size: 24px;
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    padding: 40px 0;
  }
}

.my-lib__poster {
  margin: 0 auto;
}
