.trailer-placeholder {
    width: 100%;
    height: 360px;
    margin-top: 20px;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 632px;
        height: 425px;
    }

    @media screen and (min-width: 1024px) {
        width: 782px;
        height: 425px;
        margin-top: 16px;
    }

    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-image: url('/src/images/404-not-found.png');
}