// GLOBAL STYLES
// COLORS
$color-accent: #ff6b02;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #8C8C8C;
$color-grey2: #545454;
$color-bg: #f7f7f7;
$color-bg-backdrop: RGBA(0, 0, 0, 0.25);


$main-font-family: 'Roboto';
$main-font-style: normal;
$main-font-weight: 500;

// FONT SiZE
$font-size-large: 30px;
$font-size-big: 20px;
$font-size-medium: 16px;
$font-size: 12px;

// LINE HEIGHT
$line-height1: 0.87;
$line-height2: 1.15;
$line-height3: 1.17;
$line-height4: 1.19;
$line-height5: 1.2;
$line-height6: 1.33;
$line-height7: 1.67;
$line-height8: 2.17;