.header {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header__wrap {
    text-align: center;
    display: flex;
}

.header__site-nav {
    display: flex;
}

.header__site-nav li {
    margin-left: 39px;
}

.library__nav {
    display: flex;
}

.library__nav-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
    box-sizing: border-box;
    width: 147px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.library__nav-btn:hover {
    background-color: #FF6B01;
}

.movie {
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;
}

.footer__line {
    text-align: center;
    margin: 29px auto;
}