body.show-modal .modalMovie {
    visibility: visible;
    // z-index: 999;
    // opacity: 1;
    pointer-events: initial;
    transform: scale(1);
}

body.show-modal .js-modalMovie__backdrop {
    visibility: visible;
    pointer-events: initial;
    // opacity: 1;
}

.modal__close-button {
    cursor: pointer;
}

.modalMovie {

    &__backdrop {
        // display: flex;
        justify-content: center;
        align-items: center;
        position: fixed; //
        top: 0; //
        left: 0; //
        width: 100%; //
        height: 100%; //
        z-index: 999;

        pointer-events: none;
        // background-color: aqua;
        background-color: $backdrop-bg-color;

       
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1); //--
    }

    position: fixed;
    top: 40px;
    left: calc((100% - 280px) / 2);


    width: 280px;
    max-height: calc(100% - 80px);
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    font-style: $main-font-style;

    background-color: $main-white-color;
    pointer-events: none;
    overflow-y: scroll;

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;


    @media screen and (min-width: 768px) {
        width: 704px;
        top: 219px;
        left: calc((100% - 704px) / 2);
    }

    @media screen and (min-width: 1024px) {
        width: 806px;
        top: 150px;
        left: calc((100% - 806px) / 2);
    }

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 10px;
        border: 1px solid $accent-color;
    }

    &__container {

        padding: 48px 20px 40px 20px;

        @media screen and (min-width: 768px) {
            padding: 40px 72px 40px 36px;
            display: flex;
        }

        @media screen and (min-width: 1024px) {
            padding: 40px 12px;
        }
    }


}

.movie {
    &__poster {
        width: 240px;
        // height: 357px;
        justify-content: center;

        
        &__poster--img {
            max-width: 100%;
            max-height: 100%;
        }

        @media screen and (min-width: 768px) {
            width: 264px;
            // height: 374px;
            margin-right: 68px;
        }
        @media screen and (min-width: 1024px) {
            width: 375px;
            // height: 478px;
            margin-right: 16px;
        }
    }
    
    &__about {
        @media screen and (min-width: 768px) {
            width: 264px;
        }
        @media screen and (min-width: 1024px) {
            width: 391px;
        }
    }
    &__about--title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: $mobile-card-title-font-size;
        line-height: $mobile-card-title-line-height;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            margin-top: 0;
            font-size: $tablet-card-title-font-size;
            line-height: $tablet-card-small-text-line-height;
        }
        @media screen and (min-width: 1024px) {
            font-size: $pc-card-title-font-size;
            line-height: $pc-card-title-line-height;
        }
    }

    &__table-menu {
        font-size: $mobile-card-about-font-size;
        line-height: $mobile-card-medium-text-line-height;
        color: $grey-text;
        width: 108px;
        vertical-align: middle;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        @media screen and (min-width: 1024px) {
            width: 152px;
        }
    }

    &__table-data {
        font-size: $mobile-card-about-font-size;
        line-height: $mobile-card-medium-text-line-height;
        text-transform: uppercase;
        color: $bleak-text;
    }
    &__table-number {
        font-size: $mobile-card-about-font-size;
        line-height: $mobile-card-about-line-height;
        text-transform: uppercase;

    }

    &__about--subtitle {
        margin-top: 20px;
        font-size: $mobile-card-medium-text-font-size;
        line-height: $mobile-card-medium-text-line-height;
        text-transform: uppercase;
        color: $bleak-text;
        margin-bottom: 8px;
    }

    &__about--discription {
        font-size: $mobile-card-about-font-size;
        line-height: $mobile-card-about-line-height;
        color: $bleak-text;
        margin-bottom: 20px
    }
}

.modal {
    &__buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 1024px) {
            margin-left: 8px;
            justify-content: flex-start;
            
        }
        
    }

    &__button {
        width: 110px;
        height: 44px;

        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid $bleak-text;
        border-radius: 5px;
        font-size: $mobile-card-medium-text-font-size;
        line-height: $mobile-card-medium-text-line-height;

        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $bleak-text;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            width: 125px;
        }
        @media screen and (min-width: 1024px) {
            width: 136px;
            margin-right: 15px;
        }

        &:hover,
        &:focus {
            background-color: $accent-color;
            border: none;
            color: $main-white-color;
        }

    }

    &__close-button {
        top: 8px;
        right: 8px;
        position: fixed;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        z-index: 1;


        &:hover .modal__icon-close,
        &:focus .modal__icon-close{
            fill: $accent-color;
        }

    }
    &__icon-close {
        width: 16px;
        height: 16px;
        fill: $bleak-text;
    }
}
.average {
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: $main-white-color;
    background-color: $accent-color;
    &:hover,
    &:focus {
        color: $bleak-text;
        background-color: $main-white-color;
    }
}

.count {
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: $bleak-text;
    background-color: $main-white-color;
    &:hover,
    &:focus {
        color: $main-white-color;
        background-color: $accent-color;
    }
}