

    <main>
        <section class="movie">
            <div class="container">
                <div class="movie__gallery">

                </div>
            </div>
        </section>
        <section class="pagination">
            <div class="container">
                <div class="pagination__box">

                </div>
            </div>
        </section>
    </main>
<footer class="footer">
    <div class="container">
        <div class="footer__line">
            <p class="footer__copyright">© 2022 | All Rights Reserved |</p>
                <p class="footer__dev-link"> Developed with
                <svg class="footer__icon" aria-hidden="true" width="14px" height="14px">
                    <use href="/src/img/heart.svg"></use> 
                </svg>
                by
                <a href="">GoIT Students</a>
            </p>
        </div>
    </div>
</footer>