<header class="header__lib">
    <div class="container">
        <div class="header__wrap">
            <div class="header__container">
                <div class="header__logo-container">
                    <a href="" class="header__logo">
                        <svg class="header__logo-icon" width="24px" height="24px">
                            <use href="/src/img/sprite.svg#icon-film"></use>
                        </svg>
                    </a>
                    <a href="/src/index.html" class="logo">Filmoteka</a>
                </div>

                <nav class="header__nav">
                    <ul class="header__site-nav">
                        <li class="header__item">
                            <a class="header__link" href="./index.html">
                                HOME
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__link underline" href="./library.html">
                                MY LIBRARY
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <ul class="library__nav js-filters">
            <li class="library__nav-item">
                <button type="button" class="library__nav-btn is-active" data-type="watched">WATCHED</button>
            </li>
            <li class="library__nav-item">
                <button type="button" class="library__nav-btn" data-type="queue">QUEUE</button>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <input class="toggle__input" type="checkbox" id="switch" name="mode">
        <label class="toggle__label" for="switch">Toggle</label>
    </div>

</header>