<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="" class="header__logo">
                <svg class="header__logo-icon" width="24px" height="24px">
                        <use href="/src/img/film.svg"></use>
                    </svg>
                Filmoteka
            </a>

            <nav class="header__nav">
                <ul class="header__site-nav">
                    <li>
                        <a href="./index.html">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="./library.html">
                            MY LIBRARY
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="search__inner">
            <form class="search__box">
                <label class="search__label" for=""></label>
                <input class="search__input" id="search__query" name="search__query" placeholder="Movie search">
                <div class="search__button-box">
                    <button class="search__button button" type="submit">
                        <!-- <svg class="search__icon" aria-hidden="true" width="12px" height="12px">
                                <use href=""></use>
                            </svg> -->
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>