<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <button data-modal-close="" class="modal__close">
            <svg class="modal__close-icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="list">
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Олександр Подоляко</p>
                <p class="student__position">TeamLead</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Вадим Крючков</p>
                <p class="student__position">ScrumMaster</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Сергій Литвин</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Ігор Юров</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Паша Липчанський</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Вадим Крючков</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Віктор Панасюк</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Сергей Шевченко</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Марина Вишневська</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Владислав Алєксєєв</p>
                <p class="student__position">Розробник</p>
            </li>
            <li class="list__item student">
                <img src="./images/students_1.png" alt="Віктор Панасюк" class="student__photo">
                <p class="student__name">Микола Лях</p>
                <p class="student__position">Розробник</p>
            </li>
        </ul>
    </div>
</div>